.img {
    width: 100vw;
    height: 400px;
    max-width: 100%;
    background-position: top;
    background-size: 100% 100%;
}

.h1{
    margin-top: 2rem;
    padding-bottom: 30px;
    text-align: center;
    color: blueviolet;
    
}

