nav {
  background-color: white;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100vw;
  max-width: 100%;
  z-index: 1;
}
.img {
  width: 130px;
  height: 130px;
  border-radius: 10px;
  margin: 0 20px;
}

.ul {
  display: flex;
  list-style: none;
  align-items: center;
}

.ul li {
  margin: 25px;
  cursor: pointer;
  color: blueviolet;
  font-weight: 600;
  font-size: 20px;
}

.NavLink {
  text-decoration: none;
  color: blueviolet;
}

.NavLink:hover {
  text-decoration: none;
  color: rgb(221, 126, 227);
  border-bottom: 3px solid rgb(221, 126, 227);
}

@media screen and (max-width: 600px) {
  nav {
  
    width: 100vw;
    max-width: 100%;
  }

  .ul {
    display: none;
  }

  .ulVisible {
    display: block;
  }
}
