.img {
    width: 100vw;
    height: 300px;
    max-width: 100%;
    background-position: center;
    background-size: cover;
}

.box {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  margin-bottom: 50px;
}

.info{
  display: flex;
  justify-content: space-around;
  width: 50rem;
}

h1{
  border-bottom: 4px solid blueviolet;
}

.h2{
  color:  blueviolet;
}

.fb{
  width: 45px;
  height: 40px;
  margin-top: 20px;
}

.iframe {
  margin-left: 20px;
}

.closed{
  color: red;
}
.workingHours{
  display: flex;
}
.ul,.ulSec{
  list-style: none;
  margin-top: 20px;
}
.ulSec{
margin-left: 50px;
}

.ul li,.ulSec li {
  padding-top: 10px;
  font-weight: 500;
  font-size: 18px;
}