.img {
    width: 100vw;
    height: 300px;
    max-width: 100%;
    background-position: center;
    background-size: cover;
}

.tableBox{
    padding: 4rem;
}

table{
    margin-bottom: 3rem;
    margin-top: 3rem;
    color: blueviolet;
}